@import url("https://fonts.googleapis.com/css?family=Poppins|Roboto&display=swap");
* {
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif !important;
    overflow-x: hidden;
    color: rgb(94, 93, 93) !important;
}

.login_panel {
    background-image: linear-gradient(to top, #48c6ef 0%, #0087be 100%);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -100;
}

.align_vertically {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.login_form {
    border: 1px solid white;
    border-radius: 5px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

input, textarea, select {
    padding: 10px !important;
    border: 1px solid #f1f1f1 !important;
    border-radius: 5px !important;
    margin: 10px !important;
    width: 90% !important;
    color: #8b8e91;
}

.custom-select, .custom-file-label {
    color: #8b8e91ad !important;
    border: 1px solid #f1f1f1 !important;
}

.custom-select {
    line-height: 1 !important;
}

.login_panel img {
    width: 80px;
    height: 80px;
    border: 2px solid #0087be;
    border-radius: 100%;
    margin: 10%;
}

.login_panel h1 {
    font-size: 1.5em;
    padding: 10px;
    font-weight: bold;
}

button {
    text-transform: uppercase !important;
    color: white;
    background-size: 200% auto;
    box-shadow: 0 0 5px rgb(211, 210, 210);
    border: 0px solid #0087be;
    border-radius: 20px !important;
    padding: 10px;
    background-image: linear-gradient(to top, #48c6ef 0%, #0087be 100%);
    width: 90%;
    margin: 10% !important;
}

button:focus {
    outline: 0;
}

button:hover {
    background: #0087be;
    transition: all 0.5s ease-in-out !important;
    cursor: pointer;
}

.login_form p {
    color: #0087be;
    font-size: 0.7em;
    cursor: pointer;
}

.alerts {
    color: rgb(214, 19, 19) !important;
    font-weight: bold;
}

.fade-out {
    -webkit-animation: fade-out 1s ease-out both;
    animation: fade-out 1s ease-out both;
}

@-webkit-keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#add_new, #edit {
    text-align: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background: white;
    opacity: 0;
    z-index: -100;
}

#edit {
    opacity: 1;
    z-index: 1;
    height: auto;
}

#add_new button, #edit button {
    width: 50%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 40px !important;
    margin-bottom: 10px !important;
    border-radius: 2px !important;
}

#add_new h2, #edit h2 {
    font-size: 1.5em;
    color: #48c6ef;
}

main {
    width: 100vw;
    height: 100vh;
}

.menu a {
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 10px;
    width: 100%;
    display: block;
    font-size: 1em;
    border-radius: 2px;
    font-weight: lighter;
}

.menu a:hover, .fa-sign-out-alt:hover {
    color: #48c6ef;
    text-decoration: none;
    background-color: white;
}

.menu {
    background-image: linear-gradient(to top, #48c6ef 0%, #36bfec 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5 !important;
    border-right: 1px solid #36bfec;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: 5px;
    display: inline-block;
    height: 100vh;
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
}

#menu_button {
    all: unset;
    position: fixed;
    top: 0;
    border: 1px solid  #f1f1f1 !important; 
    color:  #8b8e91ad;   
    z-index: 4;  
    margin: 10px !important;  
    padding: 10px;
    border-radius: 3px !important;
}

#menu_button:hover {
    color: #36bfec;
    transition: 0.5s;
}

.menu img {
    width: 60px;
}

.logo_img {
    width: 10vw;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    border-radius: 100%;
    margin-top: 20px;
}

#toast {
    background-color: #f8f9fa;
    text-align: center;
    border-radius: 2px;
    z-index: 100;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1em;
    white-space: nowrap;
    display: inline-block;
    transform: translateY(-100px);
}

#toast #toast_img {
    min-height: 100%;
    float: left;
    padding: 15px;
    background-color: #ffc107;
    ;
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
}

#toast #toast_des {
    padding: 15px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    margin-left: 10px;
}

.align_row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fade-in-top {
    -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-top {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-top {
    0% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.fade-out-top {
    -webkit-animation: fade-out-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: fade-out-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes fade-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }
}

@keyframes fade-out-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-50px);
        transform: translateY(-50px);
        opacity: 0;
    }
}

.custom-file-label::after {
    background-color: #48c6ef !important;
    color: white !important;
    content: "Przeglądaj" !important;
}

.custom-file {
    margin-bottom: 10px !important;
    width: 90% !important;
}

.slide-in-left {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-out-left {
    -webkit-animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes slide-out-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
}

@keyframes slide-out-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
}

#back_arrow {
    color: white;
    font-size: 1.7em;
}